@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Rubik&family=Ubuntu&display=swap');

:root {
 --border-input-clr: #3b3b3b;
 --outline-input-clr-focus: #2742db;
 --aside-txt-clr: #fcd9c0;
 --para-fnt-sz: 1.125rem;
 --input-fnt-sz: 1rem;
 --submit-btn-bg-clr: #b15f2e;
 --title-fnt-fam: 'Freehand', cursive;
 --form-fnt-fam: 'Ubuntu', sans-serif;
 --submit-fnt-fam: 'Rubik', sans-serif;
 --heading-fnt-sz: clamp(1.5rem, 2vw + 1rem, 2.5rem);
}

.main-container {
  display: flex;
}

.main-container__aside-img {
  flex: 1;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: max(300px, 30vw);
}

.main-container__aside-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}

.main-container__aside-img p {
  position: relative;
  z-index: 100;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
}

.main-container__aside-img a,
.main-container__aside-img p {
  color: var(--aside-txt-clr);
  text-shadow: 1px 2px 1px #151515;
}

.main-container__form {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  font-family: var(--form-fnt-fam);
}

.main-container__form > h1 {
/* form heading */
  font-size: var(--para-fnt-sz);
  font-size: var(--heading-fnt-sz);
}

.main-container__form fieldset {
  margin: 0;
  border: none;
  padding: 0;
  box-shadow: 0 7px 10px -10px #333;
}

.main-container__form fieldset > legend {
  margin: 0 0 2em;
}

.main-container__form .form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 3vmax;
  margin-bottom: 1em;
}

.main-container__form .form-row > label {
  display: flex;
  flex-direction: column;
}

.main-container__form .form-row input {
  margin: 0.5em 0 0;
  border: none;
  border-right: 1px solid var(--border-input-clr);
  border-bottom: 1px solid var(--border-input-clr);
  padding: 0 0.35em;
  width: 32ch;
  height: 2.5em;
  font-size: var(--input-fnt-sz);
  appearance: none;
  border-radius: 5px;
}

.main-container__form .form-row input:focus {
  outline: 2px solid var(--outline-input-clr-focus);
}

.main-container__form form > button[type="submit"] {
  margin: 1em 0;
  padding: 0.5em 2em;
  font-family: var(--submit-fnt-fam);
  background-color: var(--submit-btn-bg-clr);
  color: var(--aside-txt-clr);
  border-radius: 0.4em;
}

@media screen and (max-width: 500px) {
  .main-container {
    flex-direction: column-reverse;
    min-height: 100vh;
  }

  .main-container__form {
    padding: 1em;
    min-height: 70vh;
  }

  .main-container__form fieldset {
    width: 100%;
  }

  .main-container__aside-img {
    flex: none;
    width: 100%;
    min-height: 30vh;
  }

  .main-container__aside-img img {
    top: -100%;
    width: 100%;
    height: auto;
  }
}